defineApi({
  type: 'rs.{{Family}}.{{methodName}}',
  since: '{{platformVersion}}',
  permission: 'rs.{{Family}}',
  args: [
    // TODO(contributor): declare args
  ],
  returns: 'void',
  nativeDeps: [],
  description: '{{description}}',
}),
