## Feature ID
{{featureId}}

## Sibling PR
TBD

## Outline doc URL
<!-- Required. Paste the Outline doc page link here. -->

## Type
- [{{checkApi}}] API (`rs.X.Y`)
- [{{checkComponent}}] Component (`<RsX>`)
- [{{checkPermission}}] Permission scope
- [{{checkConstraint}}] Constraint kind
- [ ] Other

## Checklist
- [ ] `mdk codegen` ran clean
- [ ] Handler / native dep implemented
- [ ] Tests added or updated
- [ ] Typecheck count not increased
- [ ] `mdk doctor` green locally
- [ ] PR body has Outline URL (G5)
- [ ] Sibling PR linked (G6)

## What this changes


## Risk / scope

